<div class="w-[300px] bg-slate-100 dark:bg-neutral-500 rounded-md hover:shadow-lg hover:shadow-black cursor-pointer">
    <img class="w-full h-[300px] rounded-md" src={{data.img}} alt="">
    <div class="w-full flex justify-between items-center px-3 py-2">
        <span class="font-bold">{{data.dogName}}</span>
        <span class="text-white bg-[#5dde3d] rounded-md px-2 py-1 text-sm"><i class="fa-solid fa-star mr-0.5"></i>{{data.dogRating}}</span>
    </div>

    <div class="w-full flex justify-center pb-3.5">
        <button class="bg-[#d13a7a] text-white w-[80%] rounded-md py-1">{{data.dogBreed}}</button>
    </div>
    <img src="" alt="">
</div>
